    
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Flat UI - Free Bootstrap Framework and Theme
    meta(name='description', content='Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version.')
    meta(name='viewport', content='width=1000, initial-scale=1.0, maximum-scale=1.0')
    // Loading Bootstrap
    link(href='Flat-UI/dist/css/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Loading Flat UI
    link(href='Flat-UI/dist/css/flat-ui.css', rel='stylesheet')
    link(href='Flat-UI/docs/assets/css/demo.css', rel='stylesheet')
    link(rel='shortcut icon', href='img/favicon.ico')
    style.
          .iframe-container {    
              padding-bottom: 60%;
              padding-top: 30px; height: 0; overflow: hidden;
          }
          
          .iframe-container iframe,
          .iframe-container object,
          .iframe-container embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
    // HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9
      script(src='dist/js/vendor/html5shiv.js')
      script(src='dist/js/vendor/respond.min.js')
   body 
    .row
       .col-md-12
         nav.navbar.navbar-inverse(role='navigation')
           .navbar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse-01')
               span.sr-only Toggle navigation
               span.icon-bar
               span.icon-bar
               span.icon-bar
           .collapse.navbar-collapse.navbar-collapse-01
             ul.nav.navbar-nav.navbar-left
               li.active
                 a(href='/') Home
               li
                   #bs-example-navbar-collapse-2.collapse.navbar-collapse
                       form.navbar-form.navbar-left(role='search',name="searchForm", action='/searchresults', method='POST')
                         .form-group
                           input.form-control(name="query_input",
                           placeholder="Search terms...",
                           type="search",
                           results="3",
                           autosave="byways-search",
                           required)
                         button.btn.btn-default(type='submit') Submit


               li.dropdown
                 a.dropdown-toggle(href='#fakelink', data-toggle='dropdown')
                   | Promo Setup
                   span.caret
                 ul.dropdown-menu
                   li
                     a(href='#fakelink') View Promo List
                   li
                     a(href='#fakelink') Add Edit Promo
                   li
                     a(href='#fakelink') Promo Details
               li
                if (req.isAuthenticated())
                 #bs-example-navbar-collapse-17.collapse.navbar-collapse
                   p.navbar-text.navbar-right
                     | Signed in as 
                     a.navbar-link(href='/users/'+ req.user.username) #{req.user.username}
               li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  i.fa.fa-fw.fa-bell-o
                  |  Message
                  span.badge #{req.user.awaitingFridendList.length}
                ul.dropdown-menu(role='menu')
                 each req_msg in req.user.awaitingFridendList
                  li
                    a.view-pdf(href='/pop-up/'+ req_msg.userName +'/' + req_msg._id)
                      i.fa.fa-fw.fa-tag
                      span.badge #{req_msg.userName}
                      |  wants to add you as friend  
                      &nbsp
                      span.fui-plus-circle 



                
    .row
       .col-xs-12
         nav.navbar.navbar(role='navigation')
               if (!req.isAuthenticated())
                  #navbar.navbar-collapse.navbar-right.collapse
                    form.navbar-form.navbar-right(name='login', action='/users/session', method='POST')
                      .form-group
                            input.form-control(id= 'username', name= 'username',type='text', placeholder='Username', value= '', required)
                      .form-group
                            input.form-control(id= 'password', type='password', name= 'password', pattern=".{6,}",placeholder='Password')
                      .btn-group
                         button.btn.btn-success(type='submit') Sign in
                         button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                             span.caret
                             span.sr-only Toggle Dropdown
                           ul.dropdown-menu
                             li
                               a(href='signup') Sign Up




         
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='Flat-UI/dist/js/vendor/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='Flat-UI/dist/js/flat-ui.min.js')
    script(src='Flat-UI/assets/js/application.js')
    script(src= '/myjsfiles/pop-up.js')