

include ./home/mixins
include ./Flat/navbar.jade
header
    link(href='/Flat-UI/dist/css/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Loading Flat UI
    link(href='/Flat-UI/dist/css/flat-ui.css', rel='stylesheet')
    link(href='/Flat-UI/docs/assets/css/demo.css', rel='stylesheet')
    link(rel='shortcut icon', href='img/favicon.ico')
    // HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9
      script(src='dist/js/vendor/html5shiv.js')
      script(src='dist/js/vendor/respond.min.js')
body 
    .container
      .row
        .col-xs-12.col-sm-offset-3.col-sm-6
          .panel.panel-default
            .panel-heading
              span.title Contacts
              ul.pull-right
            ul#contact-list.list-group
              each display_item in req.user.friendList 
                  li.list-group-item
                    .col-xs-12.col-sm-3
                     a(href='/chatpage') 
                      img.img-responsive(src='#{display_item.friend_profile_photo}',width='200', height='200', alt='Compas')
                    .col-xs-12.col-sm-9
                      span.name #{display_item.username}
                      a.btn.btn-link( href='/chatpage') Link
                      br

                      span.text  Friend since #{display_item.date}
                      br
                    .clearfix
 
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
          .panel.panel-info
            .panel-heading
              h3.panel-title #{user.username}
            .panel-body
              .row
                .col-md-3.col-lg-3(align='center')
                  a(href='/account/uploadprofile')  
                    img.img-circle.img-responsive(src="#{user.user_profile_photo}", width='200', height='200', class= 'thumbnail')
                .col-md-9.col-lg-9
                  table.table.table-user-information
                    tbody
                      tr
                        td Hire date:
                        td 06/23/2013
                      tr
                        td Date of Birth
                        td 01/24/1988
                      tr
                      tr
                        td Gender
                        td Male
                      tr
                        td Home Address
                        td Metro Manila,Philippines
                      tr
                        td Email
                        td #{user.email}
                         
                      td Phone Number
                      td
                        | 123-4567-890(Landline)
                        br
                        br
                        | 555-4567-890(Mobile)
                   .clearfix
                  a.btn.btn-primary(href='#') My Sales Performance
                  a.btn.btn-primary(href='#') Team Sales Performance
            .panel-footer
              a.btn.btn-sm.btn-primary(data-original-title='Broadcast Message', data-toggle='tooltip', type='button')
                i.glyphicon.glyphicon-envelope
              span.pull-right
                a.button.btn.btn-default.btn-sm(href='/updateinfo', data-original-title='Edit this user', data-toggle='tooltip', type='button')
                  i.glyphicon.glyphicon-edit update 
                a.btn.btn-sm.btn-danger(data-original-title='Remove this user', data-toggle='tooltip', type='button')
                  i.glyphicon.glyphicon-remove
             a#back-to-bootsnipp.btn.btn-danger.hide(href='http://bootsnipp.com/mouse0270/snippets/4l0k2') Back to Bootsnipp
        .col-md-5.toppad.pull-right.col-md-offset-3
         a(href='/test10') Test Link 
          a.btn.btn-danger.btn-block(href='/logout') Logout
          br
          p.text-info May 05,2014,03:00 pm 

           
 
              